<div class="text-center">
    <h1>
        Do you want to see:
    </h1>
    <div>
        <button class="btn btn-default" type="button" ng-click="routeTo('islands')">Islands</button>
        <span class="text-bold">Or</span>
        <!-- <a href="http://localhost:3000/neibors"> -->
            <!-- route to sub domained react app -->
            <button ng-click="routeTo('countriesBordered')" class="btn btn-default" type="button">Countries with lots of neighbors</button>
        <!-- </a> -->
    </div>
</div>